<hr>
<% comments.each do |comment| %>
  <div class="row">
    <div class="col-md-1 col-2">
      <div class="text-center">
        <% if comment.user.icon.attached? %>
          <%= image_tag comment.user.icon.variant(resize_to_limit: [200, 200]), class: "sm-circle-image" %>
        <% else %>
          <%= image_tag ("icon.png"), size: '200x200', class: "sm-circle-image"  %>
        <% end %>
      </div>
    </div>
    <div class="col-md-11 col-10">
      <div class="d-flex justify-content-between mb-2">
        <div><%= comment.user.name %></div>
        <div><%= comment.updated_at.to_s(:datetime_jp) %></div>
      </div>
      <div><%= comment.comment %></div>
      <% if comment.user == current_user %>
        <div class="comment_delete d-flex flex-row-reverse">
          <%= link_to "削除", 'javascript:void(0)', 'data-bs-toggle': "modal", 'data-bs-target': "#deleteModal#{comment.id}" %>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="modal fade" id="deleteModal<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">削除確認</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">削除しますか？</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">やめる</button>
          <%= button_to "削除",post_comment_path(comment.post, comment),method: :delete, class: "btn btn-danger", data: { "turbolinks" => false } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

