<div class="container">
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class="card mb-5 mx-auto w-75">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col-md-2">
              <div class="text-center">
                <%= image_tag post.user.icon.variant(resize_to_limit: [200, 200]), class: "sm-circle-image" %>
              </div>
              <div class="text-center"><%= post.user.name %></div>
            </div>
            <div class="col-md-10 text-center text-md-start">
              <div><%= post.name %></div>
              <div><%= post.place %></div>
              <div class="d-flex justify-content-between">
                <%= post.updated_at.to_s(:datetime_jp) %>
                <% if post.user_id == current_user.id %>
                  <div class="btn-group">
                    <object><%= link_to "更新", [:edit, post], class: "btn btn-primary me-3" %></object>
                    <object><%= link_to "削除", post, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %></object>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-6 text-center mb-lg-0 mb-3"><%= image_tag post.image.variant(resize_to_limit: [200, 200]), class: "product-image" %></div>
          <div class="col-lg-6 text-center text-lg-start"><%= post.caption %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
