<div class="container">
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="card mb-3 mx-auto w-75">
      <div class="card-header"><div class="ms-md-5">ログイン</div></div>
      <div class="card-body ms-md-5 mt-3">
        <div class="row mb-5">
          <div class="col-md-3">
            <%= f.label :email, class: "col-form-label" %>
          </div>
          <div class="col-md-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "xxx@email.com", class: "form-control" %>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3">
            <%= f.label :password, class: "col-form-label"  %>
          </div>
          <div class="col-md-8">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>
        <hr>
        <% if devise_mapping.rememberable? %>
          <div class="">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-flex flex-row-reverse w-75 mx-auto">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
