<div class="container my-5">
  <%= form_with model: @post do |f| %>
    <div class="card mb-3 mx-auto w-75">
      <div class="card-header"><div class="ms-md-5">新規投稿</div></div>
      <div class="card-body ms-md-5 mt-3">
        <div class="row mb-5">
          <div class="col-md-3">
            <%= f.label :name, "商品名", class: "col-form-label" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :name, autofocus: true, placeholder: "商品名", autocomplete: "name", class: "form-control #{'is-invalid' if @post.errors['name'].any? }" %>
            <%= render "shared/error", model: @post, attribute: :name %>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3">
            <%= f.label :address, "購入したお店", class: "form-label" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :address, autofocus: true, placeholder: "購入したお店", class: "form-control #{'is-invalid' if @post.errors['address'].any? }" %>
            <%= render "shared/error", model: @post, attribute: :address %>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3"> 
            <%= f.label :caption, "感想", class: "form-label" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :caption, placeholder: "感想", rows: "10", class: "form-control #{'is-invalid' if @post.errors['caption'].any? }" %>
            <%= render "shared/error", model: @post, attribute: :caption %>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3">
            <%= f.label :images, "画像", class: "form-label mb-0" %>
            <div class="d-inline d-md-block">（複数投稿できます）</div>
          </div>
          <div class="col-md-8">
            <%= f.file_field :images, multiple: true, class: "form-control #{'is-invalid' if @post.errors['images'].any? }" %>
            <%= render "shared/error", model: @post, attribute: :image %>
          </div>
        </div>
      </div>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="d-flex justify-content-end w-75 mx-auto">
      <div>
        <%= link_to 'キャンセル','javascript:history.back()', class: "btn btn-outline-dark me-3", data: { "turbolinks" => false } %>
        <%= f.submit "投稿", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
